@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --bg-color: #f3f5fc;
    --btn-color: #0A3871;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    text-align: center;
}
.inactive{
    display: none;
}
.container{
    display: flex;
    max-width: 1350px;
    margin: auto;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
}
.logo{
    margin: 0;
    margin-top: 40px;
    width: 120px;
}
.interactive-part{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    background-color: var(--bg-color);
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    resize: none;
}
.warning{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 90%;
    margin: auto;
}
.warning p{
    font-size: 12px;
}
.buttons{
    width: 90%;
    display: flex;
    gap: 10px;
    margin: auto;
    padding-bottom: 40px;
}
.primary-button{
    background-color: var(--btn-color);
    color: white;
    border: none;
    outline: none;
    width: 50%;
    padding: 15px;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.secondary-button{
    border: 1px solid var(--btn-color);
    width: 50%;
    padding: 15px;
    border-radius: 24px;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.rectangle{
    width: 350px;
    padding: 24px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 24px;
    margin: 20px 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caja-imagen > img{
    max-width: 250px;
    width: 100%;
    height: auto;
}
.caja-info div:nth-child(1){
    margin: 20px 60px 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.caja-info div:nth-child(2){
    margin: 20px 20px 0;
    font-size: 16px;
    text-align: center;
}
.text-encriptado{
    word-wrap: break-word;
    margin: 0;
    padding-bottom: 25px;
    text-align: left;
    hyphens: auto;
}
.copy-button{
    width: 100%;
}

@media (max-width: 1024px){
    .container{
        flex-direction: column;
        padding-bottom: 20px;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;
    }
    .input{
        margin-top: 80px;
    }
    .warning{
        width: 100%;
        margin: 0;
    }
    .buttons{
        width: 100%;
        margin: 0;
    }
    .rectangle{
        width: 100%;
        margin: 0;
    }
    .caja-imagen > img{
        display: none;
    }
    .caja-info div:nth-child(1){
        margin: 0 5px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
}
@media (max-width: 450px){
    .container{
        height: 100%;
        box-sizing: border-box;
    }
    .input{
        margin-top: 40px;
        width: 90%;
    }
    .warning p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons button{
        width: 100%;
    }
    .caja-info div:nth-child(2){
        margin: 20px 5px 0;
        font-size: 16px;
        text-align: center;
    }
}
@media (max-width: 350px){
    .container{
        padding: 0 10px 10px;
    }
    .input{
        width: 100%;
    }
    .rectangle{
        padding: 24px 12px;
    }
    .buttons{
        padding-bottom: 20px;
    }
}